<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>长安大学创新创业专家库-资讯详情</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mobile/main.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mobile/font/iconfont.css" />
	</head>

	<body>
		<header>
			<img class="logo" src="__PUBLIC__/images/logo.jpg" alt="创新创业专家库" />
			<div class="topSearch">
				<i class="iconfont icon-search"></i>
				<input type="search" name="search" id="" value="" />
			</div>
			<img class="myAvatar" src="{$yb_user.yb_userhead}" alt="个人中心" />
		</header>
		<div class="banner page-banner">
			<img src="{$info.cover|getThumbImageById=200,146}" width="100%"/>
			<div>
				<p class="views">
					<i class="iconfont icon-browse"></i>
					<span>{$info.view}</span>
				</p>
			</div>
		</div>
		<div class="main news-content">
			<h1>{$info.title}</h1>
			<p><span class="news-user">{$author.name}</span><span class="news-time">{$info.create_time|date='Y-m-d H:i:s',###}</span></p>
			<article>
				{$info.detail.content|render}
			</article>
		</div>
		<footer>
			<a href="{:U('home/index/index')}" class="tab">
				<i class="iconfont icon-icon-f1"></i>
				<span>首页</span>
			</a>
			<a href="{:U('people/index/index')}" class="tab">
				<i class="iconfont icon-users"></i>
				<span>专家库</span>
			</a>
			<a href="{:U('issue/index/index')}" class="tab">
				<i class="iconfont icon-lights"></i>
				<span>项目</span>
			</a>
			<a href="{:U('news/index/index')}" class="tab active">
				<i class="iconfont icon-email"></i>
				<span>资讯</span>
			</a>
		</footer>
	</body>

</html>