<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/issue.css" rel="stylesheet" type="text/css"/>
</block>
<block name="header">
    <include file="Public/_nav"/>
</block>
<block name="body">
    <div class="alert alert-primary">专家库共收录创新创业项目 <strong>{$totalPageCount}</strong>项，其中，省赛项目16项，创业阶段项目4项。</div>
    <div style="position: relative">

    <div class="issue_list">
        <volist name="contents" id="vo">
            <div class="item_inner">
                <div class="left_img">
                  <div class="col-md-3">
                    <div class="item_type">{$vo.issue.title}</div>
                    <a href="{:U('Issue/Index/issueContentDetail',array('id'=>$vo['id']))}">
                        <if condition="$display_type eq 'masonry'">
                            <img class="cover" src="{$vo.cover_id|getThumbImageById=255}" height="{$vo.cover_height|default=253}"/>
                            <else/>
                            <img class="cover" src="{$vo.cover_id|getThumbImageById=255,200}" style="height:200px;"/>
                        </if>
                    </a>
                  </div>
                  <div class="col-md-9 article">
                    <header>
                      <dl class="dl-inline">
                          <dt>项目名称:</dt>
                          <dd>
                            <a href="{:U('Issue/Index/issueContentDetail',array('id'=>$vo['id']))}" class="">{$vo.title}</a>
                            <if condition="$vo.step eq 2">
                                <span class="label label-warning">国赛</span>
                            </if>
                            <if condition="$vo.step eq 1">
                                <span class="label label-warning">省赛</span>
                            </if>
                            <span class="label label-danger"><i class="icon-eye-open"></i> {$vo.view_count}</span>
                          </dd>
                          <dt></dt>
                          <dd class="pull-right">
                            发布时间:{$vo.create_time|friendlyDate}
                          </dd>
                      </dl>
                      <dl class="dl-inline">
                        <dt>团队名称:</dt>
                        <dd>{$vo.tc_name}</dd>      
                      </dl>
                      <dl class="dl-inline">
                        <dt>队长:</dt>
                        <dd><a href="{$vo.user.space_url}">{$vo.user.name} </a></dd>
                        <dt></dt>
                        <dd></dd>
                      </dl>       
                      <section class="abstract">
                        <p><strong>项目简介：</strong>{$vo.description}</p>
                      </section>
                    </header>
                  </div>
                </div>
            </div>
    </volist>
    </div>
        <if condition="count($contents) eq 0">
            <div style="font-size:3em;padding:2em 0;color: #ccc;text-align: center">{:L('_NOTHING_')}</div>
        </if>
    <div>
        <div class="pull-right">

            {:getPagination($totalPageCount,16)}
        </div>
    </div>

    <include file="_box"/>
    </div>
</block>
<block name="script">
    <if condition="$display_type eq 'masonry'">
        <script src="__JS__/masonry/jquery.masonry.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.issue_list').masonry({
                    itemSelector: '.item_inner',
                    gutterWidth: 20,
                    columnWidth: 255,
                    isFitWidth: true
                });

                _tag='http:';
                if($('.item_core>a>img').first().attr('src').indexOf(_tag)!=-1) {
                    $('.item_core>a>img').each(function () {
                        _height = $(this).height();
                        _src = $(this).attr('src');
                        _src = _src.replace(/auto/, _height);
                        $(this).attr('src', _src);
                    });
                }
            });
        </script>
    </if>
</block>

