<html>
 
<head>
    <title>留言本</title>
    <style type="text/css">
        TD{
            font-size: 12px;
            line-height: 150%;
        }
    </style>
</head>
 
<body>
    <table border=1 cellspacing=0 cellspadding=0 style="border-collapse:collapse" align=center width=400 bordercolor=black height=382>
        <tr>
            <td height=25>
                 <a href="{:url('Index/add')}">[我要写留言]</a> 
                 <a href="{:url('Admin/index/login')}">[管理留言]</a>
            </td>
        </tr>
        <tr>
            <td height=100>
                
                        {volist name='list' id='v'}
                            {$v.name}<br />
                            {$v.article}<br /><br />
                        {/volist}
                    
               
            </td>
        </tr>

    </table>
 
</body>
 
</html>