<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>登录</title>
</head>
<body>
    <div class="login-container">
        <div class="loginbox bg-white">
            <div class="loginbox-title">登录</div>
            
            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="用户名" />
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" placeholder="密码" />
            </div>
            <div class="loginbox-forgot">
                <a href="">忘记密码?</a>
            </div>
            <div class="loginbox-submit">
                <input type="submit" class="btn btn-primary btn-block"  value="Login">
            </div>
            <div class="loginbox-signup">
                <a href="#">注册账户</a>
            </div>
        </div>
     
    </div>

   
</body>
<!--  /Body -->
</html>