<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>长安大学创新创业专家库-专家库</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mobile/main.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mobile/font/iconfont.css"/>
		<link href="__PUBLIC__/css/mobile/people.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<header>
			<img class="logo" src="__PUBLIC__/images/logo.jpg" alt="创新创业专家库"/>
			<div class="topSearch">
				<i class="iconfont icon-search"></i>
				<input type="search" name="search" id="" value="" />
			</div>
			<img class="myAvatar" src="{$yb_user.yb_userhead}" alt="个人中心"/>
		</header>
		<div class="main tags">
			<span>专家类型：</span>
			<a href="javascript:;" class="tag active">所有</a>
			<a href="javascript:;" class="tag">投资人</a>
			<a href="javascript:;" class="tag">科研专家</a>
			<a href="javascript:;" class="tag">创业孵化</a>
		</div>
		<div class="main professor-list">
			<ul>
			<volist name="lists.data" id="vo">
				<li>
				<a href="{:U('Ucenter/index/information',array('uid'=>$vo['uid']))}" target="_blank">
					<img class="avatar" src="{$vo.avatar128}"/>
				</a>	
					<section>
						<span><a href="{:U('Ucenter/index/information',array('uid'=>$vo['uid']))}">{$vo.name|htmlspecialchars}</a></span>
						<p class="status">
							<span>指导项目 {$vo.issue_list}</span>
							<span>关注项目 {$vo.watching_issue_list}</span>
							<span class="hot">人气值 {$vo.score1}</span>
						</p>
						<p>{$vo.introduction|msubstr=0,60,'utf-8',true}</p>
					</section>
				</li>
			 </volist>	
			</ul>
		</div>
		<div class="main list-control">
			{$lists.html}
		</div>
	
		<footer>
			<a href="{:U('home/index/index')}" class="tab">
				<i class="iconfont icon-icon-f1"></i>
				<span>首页</span>
			</a>
			<a href="{:U('people/index/index')}" class="tab active">
				<i class="iconfont icon-users"></i>
				<span>专家库</span>
			</a>
			<a href="{:U('issue/index/index')}" class="tab">
				<i class="iconfont icon-lights"></i>
				<span>项目</span>
			</a>
			<a href="{:U('news/index/index')}" class="tab">
				<i class="iconfont icon-email"></i>
				<span>资讯</span>
			</a>
		</footer>
	</body>
	<script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
</html>
